Include /etc/ssh/ssh_config.d/*.conf
Host *
    ServerAliveInterval 30
    ServerAliveCountMax 3
    ForwardAgent yes
    IdentityFile ~/.ssh/id_rsa

Host tencent
    HostName 106.52.169.251
    User root
    Port 44499

Host github.com
    HostName github.com
    IdentityFile ~/.ssh/id_rsa.github
    #ProxyCommand connect -S 127.0.0.1:10800 %h %p

